#{extends 'main.html' /}
#{if nullKey}
                         OOPs ,
You Can not change the password as you have no secure key Or invalid secure Token !!
#{/if}

#{else}
<div align="center"><strong><h3>Change the password of ${emailId}.</h3></strong></div> 
<br>
 #{form @Password.postChange(), class:'form-horizontal', style:'min-width:500px;max-width:800px;margin: 0 auto'}
    <div class="modal-body">
       #{formfield 'emailId'}
        <div class="control-group ${field.errorClass}">
            <label class="control-label"><a href="#" rel="tooltip" title="Some help message for schema name"><i class="icon-info-sign"></i></a>emailId</label>
            <div class="controls">
                <input id="entityTable" type="text" name="${field.name}" value="${emailId}" class="input-xlarge">
                <span class="help-block">${field.error}</span>
            </div>
        </div>
        #{/formfield}
        #{formfield 'password'}
        <div class="control-group ${field.errorClass}">
            <label class="control-label"><a href="#" rel="tooltip" title="Some help message for schema name"><i class="icon-info-sign"></i></a>password</label>
            <div class="controls">
                <input id="entityTable" type="password" name="${field.name}" value="${field.value}" class="input-xlarge">
                <span class="help-block">${field.error}</span>
            </div>
        </div>
        #{/formfield}
        #{formfield 'verifyPassword'}
        <div class="control-group ${field.errorClass}">
            <label class="control-label"><a href="#" rel="tooltip" title="Some help message for schema name"><i class="icon-info-sign"></i></a>verifyPassword</label>
            <div class="controls">
                <input id="entityTable" type="password" name="${field.name}" value="${field.value}" class="input-xlarge">
                <span class="help-block">${field.error}</span>
            </div>
        </div>
        #{/formfield}
        
   </div>
    <div>    <input type="submit" name="submit" value="Change Password"  class="btn btn-primary" />
       
    </div>
#{/form}
#{/else}