*{ I believe this form will go in two different modal popups OR maybe just one...not sure yet...if one modal popup,
   perhaps we can push it down into this file }*

#{form @OurPattern.postUser()}
<div id="myAddEditPatternModal" class="modal hide" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="addEditModalLabel" aria-hidden="true">
    <div id="dbAddEditModal_content" class="modal-body">
        <input type="hidden" name="user.id" value="${user?.id}"/>  
        
        #{field 'user.email'}
        <div class="control-group ${field.errorClass}">
            <label class="control-label"><a href="#" rel="tooltip" title="Some help message for schema name"><i class="icon-info-sign"></i></a>email</label>
            <div class="controls">
                <input id="entityTable" type="text" name="${field.name}" value="${user?.email}" class="input-xlarge">
                <span class="help-block">${field.error}</span>
            </div>
        </div>
        #{/field}
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <input type="submit" name="submit" value="Save" class="btn btn-primary" />
    </div>
</div>
#{/form}