#{form @OurPattern.postDelete(), class:'form-horizontal', style:'min-width:500px;max-width:800px;margin: 0 auto'}
	<div class="modal-body">
	<input   type="hidden" name="userid" value="${user?.id}"/>  
	    <p>
        Are you sure you want to delete ${user?.email}
    </p>
	</div>
		<div class="modal-footer">
		    <input type="submit" name="delete" value="delete" class="btn434 btn-primary" />
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	  </div>
	  
#{/form}
