*{ I believe this form will go in two different modal popups OR maybe just one...not sure yet...if one modal popup,
   perhaps we can push it down into this file }*

#{form @OurPattern.postUser(), class:'form-horizontal', style:'min-width:500px;max-width:800px;margin: 0 auto'}
    <div class="modal-body">
        #{if flash.error}
        <div class="row-fluid">
            <div class="offset3 span6 alert alert-error">
                <h4>Oops....</h4>
                ${flash.error}
            </div>
        </div>
        #{/} 
    
        <input type="hidden" name="user.id" value="${user?.id}"/>  
        
        #{formfield 'user.firstName'}
        <div class="control-group ${field.errorClass}">
            <label class="control-label"><a href="#" rel="tooltip" title="Some help message for schema name"><i class="icon-info-sign"></i></a>FirstName</label>
            <div class="controls">
                <input id="entityTable" type="text" name="${field.name}" value="${field.value}" class="input-xlarge">
                <span class="help-block">${field.error}</span>
            </div>
        </div>
        #{/formfield}
        #{formfield 'user.lastName'}
        <div class="control-group ${field.errorClass}">
            <label class="control-label"><a href="#" rel="tooltip" title="Some help message for schema name"><i class="icon-info-sign"></i></a>LastName</label>
            <div class="controls">
                <input id="entityTable" type="text" name="${field.name}" value="${field.value}" class="input-xlarge">
                <span class="help-block">${field.error}</span>
            </div>
        </div>
        #{/formfield}
        #{formfield 'user.email'}
        <div class="control-group ${field.errorClass}">
            <label class="control-label"><a href="#" rel="tooltip" title="Some help message for schema name"><i class="icon-info-sign"></i></a>Email</label>
            <div class="controls">
                <input id="entityTable" type="text" name="${field.name}" value="${field.value}" class="input-xlarge">
                <span class="help-block">${field.error}</span>
            </div>
        </div>
        #{/formfield}
   </div>
    <div class="modal-footer">
        <input type="submit" name="submit" value="Save" class="btn btn-primary" />
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
#{/form}