#{extends './userTemplate.html' /}

<h4>Users</h4>

<div id="addEditPatternModal" class="modal hide #{if showPopup}in#{/if}" tabindex="-1" 
     role="dialog" data-backdrop="false" aria-labelledby="addEditModalLabel" 
     aria-hidden="#{if showPopup}false#{/if}#{else}true#{/else}"
     #{if showPopup}style="display: block;"#{/if}>
    #{if showPopup}
        #{include './ajaxAddEdit.html'/}
        <script type="text/javascript">
           $(document).ready(function() { 
               $("#addEditPatternModal").modal('show');   
           });
        </script>
    #{/if}
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>SomethingElse</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        #{list users, as:'user'}
            <tr>
                <td> ${user.id}</td>
                <td>${user.email}</td>
                <td></td>
                <td>
                        *{ TODO: We need to add javascript to 
                                1. make ajax call
                                2. in the return ajax call(the one that is passed the data from server), we then popup modal and fill in
                         }*
                        <a href="#" data-toggle="modal" class="btn" id="editLink_${user_index-1}">
                            Edit
                        </a>
                           <script type="text/javascript">
                            var getAddEditPattern= #{jsAction @ajaxAddEdit(':id') /}
                             $(document).ready(function() {	
                                 $("#editLink_${user_index-1}").click(function(e){
                                     $('#addEditPatternModal').load(getAddEditPattern({id:${user.id}}),function(){
                                         $("#addEditPatternModal").modal('show');	
                                      });
                                 });
                       	    });
                            </script>
                        <a href="#deleteModal_${user.id}" data-toggle="modal" class="btn">
                            Delete
                        </a>
                </td>
            </tr>
        #{/list}
        #{else}
        <tr>
            <td colspan="4">
            There are no users, Add one now please.
            </td>
        </tr>
        #{/else}
    </tbody>
</table>

                        *{ TODO: We need to add javascript to 
                                1. make ajax call
                                2. in the return ajax call(the one that is passed the data from server), we then popup modal and fill in
                         }*
<a href="#" class="btn btn-primary" id="addLink">Add User</a>
<p style="clear: both;">
    <script type="text/javascript">
    var getAddEditPattern= #{jsAction @ajaxAddEdit(':id') /}
    $(document).ready(function() {	
        $("#addLink").click(function(e){
            $('#addEditPatternModal').load(getAddEditPattern(),function(){
                 $("#addEditPatternModal").modal('show');	
            });
        });
  	});
  	</script>
</p>