#{extends './userTemplate.html' /}
#{form @OtherStuff.adminSetup()}
<input id="add" type="hidden" name="user" value="${user}">
<h3>SetUp Wizard </h3>

<h4><strong>Begin of Week</strong></h4>
<div class="input-prepend" >
<span class="add-on"><input  onchange="Checking()" type="radio" id="id1" name="beginDayOfWeek" value="Saturday"  ></span>
<input type="text" value="Saturady" readonly="true"></input>
<span class="add-on" style="margin-left:10px;"><input onchange="Checking()" type="radio" name="beginDayOfWeek" value="Sunday" ></span>
<input type="text" value="Sunday" readonly="true"></input>
<span class="add-on" style="margin-left:10px;"><input onchange="Checking()" type="radio" name="beginDayOfWeek" value="Monday" checked="true"></span>
<input type="text" value="Monday" readonly="true"></input>
</div>


<h4><strong>End of Week</strong></h4>
<input  id="endDayOfWeekId" type="text" name="endOfWeek" value="Sunday" readonly="true"></input>
</div>

<h4><strong>Send Email reminder to fill out Time Card</strong></h4>
<div class="input-prepend">
<span class="add-on"><input type="radio" name="emailSend" value="Yes" checked="true"></span>
<input type="text" value="Yes" readonly="true"></input>
<span class="add-on" style="margin-left:10px;"><input type="radio" name="emailSend" value="No"></span>
<input type="text" value="No" readonly="true"></input>
</div>
<input type="submit" name="submit" value="submit" class="btn434 btn-primary" />
#{/form}

<script>
function Checking() {
    var value = $("input[type='radio'][name='beginDayOfWeek']:checked").val();
    if(value=="Monday"){
    	$("#endDayOfWeekId").val("Sunday");
    	
    }
    if(value=="Sunday"){
    	$("#endDayOfWeekId").val("Saturday");
    	
    }
    if(value=="Saturday"){
    	$("#endDayOfWeekId").val("Friday");
    	
    }
    }
</script>
