#{extends 'main.html' /}
<div id="addUserModalDiv"></div>

<div id="addEditPatternModal" class="modal hide #{if showPopup}in#{/if}" tabindex="-1" 
     role="dialog" data-backdrop="true" aria-labelledby="addEditModalLabel" 
     aria-hidden="#{if showPopup}false#{/if}#{else}true#{/else}"
     #{if showPopup}style="display: block;"#{/if}>
    #{if showPopup}
        #{include './ajaxAddEdit.html'/}
        <script type="text/javascript">
           $(document).ready(function() { 
               $("#addEditPatternModal").modal('show');   
           });
        </script>
    #{/if}
</div>
<h4><strong>Hello,Now you can add Employee! Click <a href="#" class="btn btn-primary" id="add">Add User</a>for adding employee.</strong></h4>
<p style="clear: both;">
    <script type="text/javascript">
    var getAddEditPattern= #{jsAction @UserAddition.ajaxAddEdit(':id') /}
    $(document).ready(function() {	
        $("#add").click(function(e){
            $('#addEditPatternModal').load(getAddEditPattern(),function(){
                 $("#addEditPatternModal").modal('show');	
            });
        });
  	});
  	</script>
</p>


<h4><strong>Go to <a href="/companyalias">companyalias</a>  for Clock-In & Clock-Out.</strong></h4>