#{extends 'main.html' /}
#{form @AppRegister.postClockIn(), class:'form-horizontal', style:'min-width:500px;max-width:800px;margin: 0 auto'}
	   <Strong><h4>Enter your mail-id and and press Clock-In </h4></Strong>
	    #{formfield 'useremail'}
		        <div class="control-group ${field.errorClass}">
		            <label class="control-label"><a href="#" rel="tooltip" title="Some help message for schema name"><i class="icon-info-sign"></i></a>useremail</label>
		            <div class="controls">
		                <input id="entityTable" type="text" name="${field.name}" value="${field.value}" class="input-xlarge">
		                <span class="help-block">${field.error}</span>
		            </div>
		        </div>
         #{/formfield} 
               
		 			<input type="submit" name="submit" value="Clock-In" class="btn434 btn-primary" />
			

	  </div>
  
#{/form}

<br>
<br>


#{form @AppRegister.postClockOut(), class:'form-horizontal', style:'min-width:500px;max-width:800px;margin: 0 auto'}
	    <Strong><h4>Enter your mail-id and and press Clock-out </h4></Strong>
	    #{formfield 'useremail1'}
		        <div class="control-group ${field.errorClass}">
		            <label class="control-label"><a href="#" rel="tooltip" title="Some help message for schema name"><i class="icon-info-sign"></i></a>useremail1</label>
		            <div class="controls">
		                <input id="entityTable" type="text" name="${field.name}" value="${field.value}" class="input-xlarge">
		                <span class="help-block">${field.error}</span>
		            </div>
		        </div>
         #{/formfield} 
               
			<input type="submit" name="submit" value="Clock-out" class="btn434 btn-primary" />

	  </div>
	  
#{/form}