   <div>
   #{form @UserAddition.postUserAddition(), class:'form-horizontal',style:'min-width:500px;max-width:800px;margin: 0 auto'}
   <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
         <h4 id="myModalLabel"> ${user?.firstName} </h4>
    </div>
    <div class="modal-body">
        #{if flash.error}
        <div class="row-fluid">
            <div class="offset3 span6 alert alert-error">
                <h4>Oops....</h4>
                ${flash.error}
            </div>
        </div>
        #{/} 
    
        <input type="hidden" name="user.id" value="${user?.id}"/>  
               <div align="right"> 
                 useremail: <input type="text" name="useremail"><br>
               </div>
               <div align="right">
                 Manager:  #{select 'manager', items:users, valueProperty:'email', labelProperty:'email', placeholder:"Manager" , id:'manager' /}	
	           </div>
	           <div align="right"> 
	             Role <select name="role">
                       <option value="admin">Admin</option>
                       <option value="user">User</option>
                      </select>
               </div> 
           
	</div>       
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<input type="submit" name="submit" value="Save" class="btn434 btn-primary" />
		</div>
	#{/form}	
	  </div>
	  




