#{extends 'main.html' /}
#{set title:'Sign Up' /}


<div id="sign_in2">
        <div class="container">
		<br/>
            <div class="row login">
                <div class="span4 left_box">
                   <p><strong>Register to submit your time cards quickly</strong></p>

                    <div class="perk_box">
                        <div class="perk">
                            <span class="icos ico1"></span>
                            <p><strong>Lorem alteration</strong> in some form  injected humour these randomised words .</p>
                        </div>
                        <div class="perk">
                            <span class="icos ico2"></span>
                            <p><strong>There are many variations</strong> of passages of Lorem alteration in some form  injected humour these randomised words.</p>
                        </div>
                        <div class="perk">
                            <span class="icos ico3"></span>
                            <p><strong>Alteration in some form</strong> injected humour these randomised words.</p>
                        </div>
                    </div>
                </div>

                <div class="span8 signin_box">
                    <div class="box">
                        <div class="box_cont">
                               <div class="division">
                                <div class="line l"></div>
                                <span>Sign Up</span>
                                <div class="line r"></div>
                            </div>
                            <div class="form">
				    			#{form @Register.postUserRegister(), class:'form-horizontal', style:'min-width:500px;max-width:800px;margin: 0 auto'}
				    			   #{formfield 'user.email'}
								        <div class="control-group ${field.errorClass}">
								            <label class="control-label"><a href="#" rel="tooltip" title="Some help message for schema name"><i class="icon-info-sign"></i></a>email</label>
								            <div class="controls">
								                <input id="entityTable" type="text" name="${field.name}" value="${field.value}" class="input-xlarge">
								                <span class="help-block">${field.error}</span>
								            </div>
								        </div>
							        #{/formfield}
								   #{formfield 'user.Password'}
								        <div class="control-group ${field.errorClass}">
								            <label class="control-label"><a href="#" rel="tooltip" title="Some help message for schema name"><i class="icon-info-sign"></i></a>Password</label>
								            <div class="controls">
								                <input id="entityTable" type="text" name="${field.name}" value="${field.value}" class="input-xlarge">
								                <span class="help-block">${field.error}</span>
								            </div>
								        </div>
							        #{/formfield}
							       
								   #{formfield 'user.firstName'}
								        <div class="control-group ${field.errorClass}">
								            <label class="control-label"><a href="#" rel="tooltip" title="Some help message for schema name"><i class="icon-info-sign"></i></a>FirstName</label>
								            <div class="controls">
								                <input id="entityTable" type="text" name="${field.name}" value="${field.value}" class="input-xlarge">
								                <span class="help-block">${field.error}</span>
								            </div>
								        </div>
							        #{/formfield}
							        
								   #{formfield 'user.lastName'}
								        <div class="control-group ${field.errorClass}">
								            <label class="control-label"><a href="#" rel="tooltip" title="Some help message for schema name"><i class="icon-info-sign"></i></a>lastName</label>
								            <div class="controls">
								                <input id="entityTable" type="text" name="${field.name}" value="${field.value}" class="input-xlarge">
								                <span class="help-block">${field.error}</span>
								            </div>
								        </div>
								        #{/formfield}
								        #{formfield 'user.phone'}
								        <div class="control-group ${field.errorClass}">
								            <label class="control-label"><a href="#" rel="tooltip" title="Some help message for schema name"><i class="icon-info-sign"></i></a>phone</label>
								            <div class="controls">
								                <input id="entityTable" type="text" name="${field.name}" value="${field.value}" class="input-xlarge">
								                <span class="help-block">${field.error}</span>
								            </div>
								        </div>
							       #{/formfield}
							      <input type="submit" name="submit" value="Save" class="btn434 btn-primary" />  
				                #{/form}
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div> 
