#{extends 'main.html' /} 
#{set title:'register' /} 
#{set tab:'register'/} 

#{form @postNewAppRegister(), class:'form-horizontal',
style:'min-width:500px;max-width:800px;margin: 0 auto'}

<legend>Registration for free software</legend>

#{formfield 'user.name'}
<div class="control-group ${field.errorClass}">
	<label class="control-label"><a href="#" rel="tooltip"
		title="Some help message for schema name"><i
			class="icon-info-sign"></i></a>Name</label>
	<div class="controls">
		<input id="entityTable" type="text" name="${field.name}"
			value="${field.value}" class="input-xlarge"> 
			<span class="help-block">${field.error}</span>
	</div>
</div>
#{/formfield} #{formfield 'user.email'}
<div class="control-group ${field.errorClass}">
	<label class="control-label"><a href="#" rel="tooltip"
		title="Some help message for schema name"><i
			class="icon-info-sign"></i></a>Email</label>
	<div class="controls">
		<input id="entityTable" type="text" name="${field.name}"
			value="${field.value}" class="input-xlarge"> <span
			class="help-block">${field.error}</span>
	</div>
</div>
#{/formfield} #{formfield 'user.phone'}
<div class="control-group ${field.errorClass}">
	<label class="control-label"><a href="#" rel="tooltip"
		title="Some help message for schema name"><i
			class="icon-info-sign"></i></a>Phone</label>
	<div class="controls">
		<input id="entityTable" type="text" name="${field.name}"
			value="${field.value}" class="input-xlarge"> <span
			class="help-block">${field.error}</span>
	</div>
</div>
#{/formfield} #{formfield 'user.password'}
<div class="control-group ${field.errorClass}">
	<label class="control-label"><a href="#" rel="tooltip"
		title="Some help message for schema name"><i
			class="icon-info-sign"></i></a>Password</label>
	<div class="controls">
		<input id="entityTable" type="password" name="${field.name}"
			value="${field.value}" class="input-xlarge"> <span
			class="help-block">${field.error}</span>
	</div>
</div>
#{/formfield}

#{formfield 'type'}
<div class="control-group ${field.errorClass}">
	<label class="control-label"><a href="#" rel="tooltip"
		title="Some help message for schema name"><i
			class="icon-info-sign"></i></a>Software Type</label>
	<div class="controls">
		<input type="radio" name="type" value="clockin">
			Simple clock-in / clock-out timecard software<br>
		<input type="radio" name="type" value="contractor">
			Contractor filling out detailed minutes software<br>
		<input type="radio" name="type" value="approval">
			Company where weekly timecards are filled out and approved by managers
		<span class="help-block">${field.error}</span>
	</div>
</div>
#{/formfield}
<br>
<br>

<div>
	<input type="submit" name="submit" value="REGISTER"
		class="btn btn-primary" />

</div>
#{/form}

<div class="offset7">
	<span><h4>Already have an account?</h4> <a href="@{Application.login()}"><h3>LOGIN</h3></a></span>
</div>
