#{extends 'main.html' /}
#{set title:'Home' /}

    <section id="feature_slider" class="">
        <!-- 
            Each slide is composed by <img> and .info
            - .info's position is customized with css in index.css
            - each <img> parallax effect is declared by the following params inside its class:
            
            example: class="asset left-472 sp600 t120 z3"
            left-472 means left: -472px from the center
            sp600 is speed transition
            t120 is top to 120px
            z3 is z-index to 3
            Note: Maintain this order of params

            For the backgrounds, you can combine from the bgs folder :D
        -->
        <article class="slide" id="showcasing" style="background: url('/public/img/backgrounds/landscape.png') repeat-x top center;">
            <img class="asset left-30 sp600 t90 z1" src="/public/resources/Application/index/laptop.png" />
            <div class="info">
                <h2>Easily view timecards and reports.</h2>
            </div>
        </article>
        <article class="slide" id="ideas" style="background: url('/public/img/backgrounds/aqua.jpg') repeat-x top center;">
            <div class="info">
                <h2>Many different types of timecards all on one website</h2>
            </div>
            <img class="asset left-480 sp600 t260 z1" src="/public/resources/Application/index/graph1.png" />
            <img class="asset left-210 sp600 t213 z2" src="/public/resources/Application/index/middle.png" />
            <img class="asset left60 sp600 t260 z1" src="/public/resources/Application/index/graph2.png" />
        </article>
        <article class="slide" id="tour" style="background: url('/public/img/backgrounds/color-splash.jpg') repeat-x top center;">
            <img class="asset left-472 sp650 t100 z3" src="/public/resources/Application/index/alldevices.png" />
            <div class="info">
                <h2>Use any device or lock to one computer</h2>
            </div>
        </article>            
    </section>

    <div id="showcase">
        <div class="container">
            <div class="section_header" style="margin-bottom: 0px">
                <h3>Three Time Card Web Applications</h3>
            </div>            
            <div class="row feature_wrapper">
                <!-- Features Row -->
                <div class="features_op1_row">
                    <!-- Feature -->
                    <div class="span4 feature first">
                        <div class="text">
                            <h6>Clock-in Version</h6>
                            <p>
                                Our Clock-in version is simple software allowing your employees to clock-in and clock-out and report those hours back to you.
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span4 feature">
                        <div class="text">
                            <h6>Time Reporting Version</h6>
                            <p>
                                Our Time Reporting Version is for contractors who want to report minutely data on what they worked on to bill their
                                clients
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span4 feature last">
                        <div class="text">
                            <h6>Time Card Approval Version</h6>
                            <p>
                                Our Time Card Approval version is for organizations who want contractors to fill out weekly timecards that will be sent
                                to managers with an email where the manager can click Approve or Please Revise
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="features">
        <div class="container">
            <div class="section_header">
                <h3>Features</h3>
            </div> 
            <div class="row feature">
                <div class="span6">
                    <img src="/public/img/showcase1.png" />
                </div>
                <div class="span6 info">
                    <h3>
                        <img src="/public/img/features-ico1.png" />
                        Beautiful on all devices
                    </h3>
                    <p>
                        Try resizing your web browser to the size of a phone so you can see how this page works on a mobile phone.  We build our apps with the latest web technologies to provide a nice/clean interface to our users.
                    </p>
                </div>
            </div>
            <div class="row feature ss">
                <div class="span6 info">
                    <h3>
                        <img src="/public/img/features-ico2.png" />
                        Basic Reporting
                    </h3>
                    <p>
                        Each version of our time card tools have basic reporting with more and more being added every month.  Stick with a great simple tool that just keeps getting better.
                    </p>
                </div>
                <div class="span6">
                    <img src="/public/resources/Application/index/middle.png" class="pull-right" />
                </div>
            </div>
          *{  <div class="row feature ss">
                <div class="span6">
                    <img src="/public/img/showcase3.png" />
                </div>
                <div class="span6 info">
                    <h3>
                        <img src="/public/img/features-ico3.png" />
                        Simple and clean coming soon page
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>
            </div>
            }*
        </div>
    </div>


    <!-- Pricing Option -->
    <div id="in_pricing">
        <div class="container">
            <div class="section_header" style="margin-bottom: 20px">
                <h3>Pricing</h3>
            </div>

            <div class="row charts_wrapp">
                <!-- Plan Box -->
                <div class="span4">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Clock-in/out</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">0</span> 
                                <span class="month">/month</span>
                            </div>
                            <div class="features">
                                <p>
                                    Add/Edit Employees
                                </p>
                                <p>
                                    <strong>4</strong>
                                    Clock-in/Clock-out
                                </p>
                                <p>
                                    Basic Reporting
                                </p>
                            </div>
                            <a class="order" href="@{Register.register()}">START NOW</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="span4">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Time Reporting</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">0</span> 
                                <span class="month">/month</span>
                            </div>
                            <div class="features">
                                <p>
                                    Timecard Editing
                                </p>
                                <p>
                                    Emailing links to timecard
                                </p>
                                <p>
                                    Reports
                                </p>
                            </div>
                            <a class="order" href="@{Register.register()}">START NOW</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="span4">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>TCard Approval</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">0</span> 
                                <span class="month">/month</span>
                            </div>
                            <div class="features">
                                <p>
                                    Timecard Submission
                                </p>
                                <p>
                                	Email notification
                                </p>
                                <p>
                                	Approve/Reject timecards
                                </p>
                            </div>
                            <a class="order" href="@{Register.register()}">START NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="start">
                <p>Start your free, no-risk trial! </p>
                <a href="@{Register.register()}">Start Now!</a>
            </div>
        </div>
    </div>
