#{extends 'main.html' /}

<div class="container">
 
<h1>Registered for Invite</h1>
<p>
	The good news is we have had overwhelming success and you are now in our queue of users wanting access.  The bad
	news is you will have to wait for an e-invite(we send about 500 every 2 months).  The reasons for this is we really
	want to keep our existing customers happy and we are making sure our systems do not get overloaded as we take on
	more and more customers as quickly as we can.  We appreciate your patience and someone may be in touch with you
	regarding your specific needs as well.
</p>

</div> 