#{extends 'main.html' /}
#{set title:'About Us' /}
#{set tab:'templates'/}
    <div id="aboutus" style="margin-top: 10px">
        <div class="container">
            <div class="section_header" style="margin-bottom: 20px">
                <h3>Free Word Doc Time Card</h3>
            </div>
            <div class="row">
                <div class="span6 intro">
                	<br/><br/>
                    <h6>This is a free simple time card template done in Microsoft Word</h6>
                    <p>
                    	Please just click the image to download the *.docx file and start using the time card template today.
                    	If you ever want to go paperless, we invite you to use our free time card software and help the environment.
                    	Or if you prefer not clicking the image, you can <a href="/public/resources/Application/templates/TimeSheet-Template.docx">Download Here</a> as well.
                    </p>
                </div>
                <div class="span6 flexslider">
                      <ul class="slides">
                        <li>
                        	<a href="/public/resources/Application/templates/TimeSheet-Template.docx">
                          <img src="/public/resources/Application/templates/template.png" />
                            </a>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="team">
        <div class="container">
            <div class="section_header">
                <h3>Free Excel Timecard</h3>
            </div>

            <div class="row">
            
                <div class="span6 flexslider">
                      <ul class="slides">
                        <li>
                        	<a href="/public/resources/Application/templates/exceltemplate.xlsx">
                          <img src="/public/resources/Application/templates/excelpic.png" />
                            </a>
                        </li>
                      </ul>
                </div>
                <div class="span6 intro">
                	<br/><br/>
                    <h6 style="color: #fff;line-height: 29px;font-weight: normal;font-size: 21px;font-style: italic;margin: 0 0 16px 0;">This is a free simple time card template in Excel</h6>
                    <p style="color: #fff">
                    	Please just click the image to download the Excel file and start using the time card template today.
                    	If you ever want to go paperless, we invite you to use our free time card software and help the environment.
                    	Or if you prefer not clicking the image, you can <a href="/public/resources/Application/templates/exceltemplate.xlsx">Download Here</a> as well.
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div id="process">
        <div class="container">
            <div class="section_header">
                <h3>Save a Tree, or Just Save Time</h3>
            </div>
            <div class="row services_circles">
                <div class="span4 description">
                    <div class="text active">
                        <h4>Plan what you need.</h4>
                        <p>
                            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.</p>
                    </div>
                    <div class="text">
                        <h4>Develop your product or service.</h4>
                        <p>
                            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to 
                            making this the first true generator  Internet.</p>
                    </div>
                    <div class="text">
                        <h4>Design this theme to your needs.</h4>
                        <p>
                            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.</p>
                    </div>
                </div>

                <div class="span7 areas">
                    <div class="circle active">
                        <img src="/public/img/plan.png" />
                        <span>Record</span>
                    </div>
                    <div class="circle">
                        <img src="/public/img/develop.png" />
                        <span>Submit</span>
                    </div>
                    <div class="circle last_circle">
                        <img src="/public/img/design.png" />
                        <span>Approve</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

